body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #6f3da8;
  margin-bottom: 30px;
}

.app-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(147, 0, 177, 0.1);
}

h2 {
  text-align: center;
  font-size: 24px;
  color: #444;
}

.add-task-form {
  display: flex;
}

.add-task-form input {
  flex: 1;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 50px;
  outline: none;
}

.add-task-form button {
  margin-left: 20px;
  padding: 10px 15px;
  font-weight: bold;
  background-color: #6f3da8;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.add-task-form button:hover {
  background-color: #7e7e7e;
}


.task-list {
  list-style: none;
  padding: 10px 0; 
  margin: 0;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-bottom: 10px;
}

.task-item button {
  background-color: #6d6d6d;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 6px;
  border-radius: 50px;
  cursor: pointer;
}

.task-item button:hover {
  background-color: #6f3da8;
}

.task-item.completed {
  text-decoration: line-through;
  color: #9680af;
}

.task-item .task-text {
  flex: 1;
  padding: 0 10px;
}

.filter-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.filter-button {
  padding: 5px 15px;
  margin: 0 10px;
  background-color: #f3f3f3;
  color: #6f3da8;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.filter-button:hover {
  background-color: #dddddd;
}

.filter-button.active {
  background-color: #6f3da8;
  border: none;
  color: #fff;
}